@{
    ViewBag.Title = "Contact";
}
<h2>İletişim</h2>
<h3>Bize bu bağlantılardan ulaşabilirsiniz.</h3>

<address>
    Ataşehir / İstanbul
    <br />
    <abbr title="Phone">Telefon:</abbr>
     0216 000 00 00
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Pazarlama:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>